name: Tests and Semgrep
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  SEMGREP_R2C_INTERNAL_EXPLICIT_SEMGREPIGNORE: ./tests/assets/.semgrepignore

permissions:
  contents: read # access to check out code and install dependencies

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.11', '3.12', '3.13', '3.14' ]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: ${{ matrix.python-version }}
        pip-install: tox semgrep tox-extra

    - name: Lint
      run: |
        tox -e lint

    - name: Bandit
      run: |
        tox -e bandit

    - name: Semgrep validate rules
      run: |
        semgrep --validate --strict --config=./njsscan/rules/semantic_grep/

    - name: Semgrep tests
      run: |
        semgrep --quiet --test --config ./njsscan/rules/semantic_grep ./tests/assets/node_source/true_positives/semantic_grep/

    - name: Run tests
      run: |
        tox -e py

    - name: Clean Up
      run: |
        tox -e clean
